* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

.navbar {
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
}

.navbar h2 {
    color: #00ffcc;
    font-size: 24px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    opacity: 0.8;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    background: rgba(0, 255, 204, 0.2);
}

.card img {
    width: 100%;
    height: 160px;

    object-fit: contain;   
    
    background: black;     
    padding: 10px;        

    border-radius: 10px;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.card a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background: #00ffcc;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.card a:hover {
    background: white;
}

a {
    width: 20vh;
}

#contact {
    margin: 0 auto;
    line-height: 24px;
    background-color: rgba(0, 0, 0, 0.434);
}

.contact-line {
    gap: 8px;
    text-align: center;
}

#github {
    color: #ffffff;
    text-decoration: none;
}

#github:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
}

.copyRight {
    margin-top: 50px;
    font-size: 12px;
}
